
table{
    border-collapse: collapse;
    border: none;
}


h2{
    font-size: 60px;
text-align: center;
font-weight: normal;

}

h1{
    font-weight: normal; 
}

.border{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;

}

.flex_container{
    display: flex;
    flex-flow: column;
}

.flex_container > div{
height: 100px;
}

.politics{
    background-color: #ffeaa7;
}

.technology{
    background-color: #81ecec;
}

.local{
    background-color: #55efc4;
}

.opinion{
    background-color: #74b9ff;
}

.sports{
    background-color: #a29bfe;
}
